In [ ]:
## Jason Johnson Tableau challenge
## Data from https://www.citibikenyc.com/system-data
## Downloaded the last full years of data (2019) on 25Jun2020
## Data pulled as zipped CSV.

In [2]:
# Dependencies
import pandas as pd

In [9]:
# Import the data from CSV to Pandas

citibike2019_1 = pd.read_csv("Data/201901-citibike-tripdata.csv")
citibike2019_2 = pd.read_csv("Data/201902-citibike-tripdata.csv")
citibike2019_3 = pd.read_csv("Data/201903-citibike-tripdata.csv")
citibike2019_4 = pd.read_csv("Data/201904-citibike-tripdata.csv")
citibike2019_5 = pd.read_csv("Data/201905-citibike-tripdata.csv")
citibike2019_6 = pd.read_csv("Data/201906-citibike-tripdata.csv")
citibike2019_7 = pd.read_csv("Data/201907-citibike-tripdata.csv")
citibike2019_8 = pd.read_csv("Data/201908-citibike-tripdata.csv")
citibike2019_9 = pd.read_csv("Data/201909-citibike-tripdata.csv")
citibike2019_10 = pd.read_csv("Data/201910-citibike-tripdata.csv")
citibike2019_11 = pd.read_csv("Data/201911-citibike-tripdata.csv")
citibike2019_12 = pd.read_csv("Data/201912-citibike-tripdata.csv")

In [12]:
# Check the data

citibike2019_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1924563 entries, 0 to 1924562
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         int64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           int64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(4), int64(6), object(5)
memory usage: 220.2+ MB

In [45]:
# Join the dataframes

citibike2019 = citibike2019_1.append([citibike2019_2, citibike2019_3, citibike2019_4, citibike2019_5, citibike2019_6, citibike2019_7, 
                                      citibike2019_8, citibike2019_9, citibike2019_10, citibike2019_11, citibike2019_12])

In [46]:
citibike2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1

In [47]:
citibike2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20551697 entries, 0 to 955209
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 2.4+ GB

In [48]:
# Check the column names

citibike2019.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [49]:
# Fix the column names

citibike2019.rename(columns={'tripduration': 'Trip Duration (seconds)', 'starttime': 'Start Time', 'stoptime': 'Stop Time', 
                             'start station id': 'Start Station ID' , 'start station name': 'Start Station Name', 
                             'start station latitude': 'Start Station Latitude', 'start station longitude': 'Start Station Longitude', 
                             'end station id': 'End Station ID', 'end station name': 'End Station Name', 'end station latitude': 'End Station Latitude', 
                             'end station longitude': 'End Station Longitude', 'bikeid': 'Bike ID', 'usertype': 'User Type', 
                             'birth year': 'Birthyear', 'gender': 'Gender'}, inplace = True)

In [50]:
# Check random sample of the data

citibike2019.sample(5)

,Trip Duration (seconds),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birthyear,Gender
564025,520,2019-09-08 23:18:25.7380,2019-09-08 23:27:05.9590,401.0,Allen St & Rivington St,40.720196,-73.989978,331.0,Pike St & Monroe St,40.711731,-73.991930,39815,Subscriber,1966,2
983036,864,2019-04-17 09:11:41.5660,2019-04-17 09:26:05.6530,3419.0,Douglass St & 4 Ave,40.679279,-73.981540,3648.0,Flushing Ave & Vanderbilt Ave,40.697950,-73.970776,31984,Subscriber,1995,1
1003073,232,2019-06-14 17:29:05.6600,2019-06-14 17:32:58.3840,3496.0,1 Ave & E 110 St,40.792327,-73.938300,3502.0,Lexington Ave & E 111 St,40.795412,-73.944123,28581,Subscriber,1986,1
954228,201,2019-11-19 06:50:20.3510,2019-11-19 06:53:42.2660,546.0,E 30 St & Park Ave S,40.744449,-73.983035,536.0,1 Ave & E 30 St,40.741444,-73.975361,16788,Subscriber,1989,1
678611,1717,2019-06-09 17:38:35.7470,2019-06-09 18:07:13.3130,3775.0,Suydam St & Knickerbocker Ave,40.702013,-73.923769,3775.0,Suydam St & Knickerbocker Ave,40.702013,-73.923769,30394,Subscriber,1988,2

In [51]:
# Add rider age

citibike2019['Age'] = 2020 - citibike2019['Birthyear']

citibike2019.sample(5)

,Trip Duration (seconds),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birthyear,Gender,Age
1113225,238,2019-04-19 10:55:10.4740,2019-04-19 10:59:08.8890,476.0,E 31 St & 3 Ave,40.743943,-73.979661,526.0,E 33 St & 5 Ave,40.747659,-73.984907,33787,Subscriber,1989,1,31
1149598,906,2019-07-17 08:36:41.3160,2019-07-17 08:51:47.7180,514.0,12 Ave & W 40 St,40.760875,-74.002777,3459.0,E 53 St & 3 Ave,40.757632,-73.969306,39350,Subscriber,1971,1,49
365923,743,2019-03-12 08:47:18.4530,2019-03-12 08:59:41.5360,3092.0,Berry St & N 8 St,40.719009,-73.958525,3118.0,McGuinness Blvd & Eagle St,40.735550,-73.952840,30968,Subscriber,1984,2,36
144318,834,2019-08-02 17:35:39.2870,2019-08-02 17:49:34.0160,164.0,E 47 St & 2 Ave,40.753231,-73.970325,326.0,E 11 St & 1 Ave,40.729538,-73.984267,35367,Subscriber,1994,1,26
676490,334,2019-03-18 17:05:34.2070,2019-03-18 17:11:08.5050,3737.0,Stanton St & Norfolk St,40.720747,-73.986274,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,28833,Subscriber,1997,1,23

In [52]:
# Change gender from int to string
# Zero = unknown, one = male, two = female

citibike2019['Gender'].replace(0, 'Unknown',inplace=True)
citibike2019['Gender'].replace(1, 'Male',inplace=True)
citibike2019['Gender'].replace(2, 'Female',inplace=True)

citibike2019.sample(5)

,Trip Duration (seconds),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birthyear,Gender,Age
1865305,528,2019-08-25 16:31:44.4200,2019-08-25 16:40:33.1010,518.0,E 39 St & 2 Ave,40.747804,-73.973442,2003.0,1 Ave & E 18 St,40.733812,-73.980544,30203,Subscriber,1960,Male,60
2906,315,2019-08-01 06:23:38.9140,2019-08-01 06:28:53.9490,477.0,W 41 St & 8 Ave,40.756405,-73.990026,379.0,W 31 St & 7 Ave,40.749156,-73.991600,27709,Subscriber,1993,Female,27
498548,802,2019-11-08 18:58:46.0430,2019-11-08 19:12:08.7810,502.0,Henry St & Grand St,40.714211,-73.981095,460.0,S 4 St & Wythe Ave,40.712859,-73.965903,35130,Subscriber,1973,Male,47
1698600,573,2019-07-25 17:19:33.0220,2019-07-25 17:29:06.1700,3369.0,E 82 St & East End Ave,40.772461,-73.946821,3362.0,Madison Ave & E 82 St,40.778131,-73.960694,16485,Subscriber,1986,Male,34
385702,222,2019-08-05 19:57:51.7100,2019-08-05 20:01:34.1670,399.0,Lafayette Ave & St James Pl,40.688515,-73.964763,258.0,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,33839,Subscriber,1952,Male,68

In [58]:
# Save data as Pickle

citibike2019.to_pickle("Data/citibike2019.pkl")

In [60]:
# Read the Pickle

citibike2019 = pd.read_pickle("Data/citibike2019.pkl")

In [61]:
# Check dataset size
citibike2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20551697 entries, 0 to 955209
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Trip Duration (seconds)  int64
 1   Start Time               object
 2   Stop Time                object
 3   Start Station ID         float64
 4   Start Station Name       object
 5   Start Station Latitude   float64
 6   Start Station Longitude  float64
 7   End Station ID           float64
 8   End Station Name         object
 9   End Station Latitude     float64
 10  End Station Longitude    float64
 11  Bike ID                  int64
 12  User Type                object
 13  Birthyear                int64
 14  Gender                   object
 15  Age                      int64
dtypes: float64(6), int64(4), object(6)
memory usage: 2.6+ GB

In [63]:
# Remove rows with any missing data.

citibike2019.dropna(how = 'any', inplace = True)

# Check the new dataframe size.
citibike2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20551517 entries, 0 to 955209
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   Trip Duration (seconds)  int64
 1   Start Time               object
 2   Stop Time                object
 3   Start Station ID         float64
 4   Start Station Name       object
 5   Start Station Latitude   float64
 6   Start Station Longitude  float64
 7   End Station ID           float64
 8   End Station Name         object
 9   End Station Latitude     float64
 10  End Station Longitude    float64
 11  Bike ID                  int64
 12  User Type                object
 13  Birthyear                int64
 14  Gender                   object
 15  Age                      int64
dtypes: float64(6), int64(4), object(6)
memory usage: 2.6+ GB

In [67]:
# Creating a random sample of 14,999,999 since tableau public won't handle sets larger than this.

citibike2019set = citibike2019.sample(14999999)

In [69]:
# Save to CSV

citibike2019set.to_csv("Data/citibike2019set.csv", index = True)

In [ ]:
# Save to JSON

citibike2019.to_json("Data/citibike2019.csv", index = False)